# Pandas Essentials Part 1
## DataFrames and Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series([6,5,4,3])
ser

0    6
1    5
2    4
3    3
dtype: int64

In [7]:
ser_index = pd.Series([6,5,4,3],index=['a','b','c','d'])
ser_index

a    6
b    5
c    4
d    3
dtype: int64

In [5]:
ser.values

array([6, 5, 4, 3], dtype=int64)

## 1. DataFrame Essentials

### 1.1 Creating DataFrames from Scratch

In [2]:
team = ['Real Madrid', 'Roma', 'Liverpool', 'Bayern Munchen']
champions_league_cups = [12,0, 5, 5]
established = [1902, 1927, 1892, 1900]

df = pd.DataFrame({'teams' : team, 'cups' : champions_league_cups, 'Year': established},  columns=['teams','cups', 'Year'],index=range(1,5))
df

            teams  cups  Year
1     Real Madrid    12  1902
2            Roma     0  1927
3       Liverpool     5  1892
4  Bayern Munchen     5  1900

#### 1.1.1 Add Column

In [ ]:
pd.read

#### 1.1.2 Delete a column

###  1.2 Reading Text Files (CSV)

In [9]:
csv_df = pd.read_csv('Data/worldcitiespop.csv', low_memory=False)

In [4]:
csv_df.head(7)

,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,ad,aixas,Aixàs,06,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,06,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,06,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,06,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,06,NaN,42.466667,1.483333
5,ad,andorra,Andorra,07,NaN,42.500000,1.516667
6,ad,andorra la vella,Andorra la Vella,07,20430.0,42.500000,1.516667

In [45]:
csv_df.columns

Index(['Country', 'City', 'AccentCity', 'Region', 'Population', 'Latitude',
       'Longitude'],
      dtype='object')

### 1.3 Reading From Database

In [9]:
import psycopg2 
connection = psycopg2.connect(database="MTutorial",user="postgres", password="XXXXXX")
cursor = connection.cursor()
cursor.execute("SELECT * FROM cities")

In [10]:
database_df = pd.DataFrame(cursor.fetchall(), columns=['id', 'geom', 'Country', 'City', 'AccentCity', 'Region', 'Population', 'Latitude', 'Longtitude'])
                           
database_df.head(7)

,id,geom,Country,City,AccentCity,Region,Population,Latitude,Longtitude
0,1,0101000020E6100000AB1D6A807777F73FAC4896DDDD3D...,ad,aixas,Aixàs,06,NaN,42.483333,1.466667
1,2,0101000020E6100000000000000000F83FEE5003BCBB3B...,ad,aixirivali,Aixirivali,06,NaN,42.466667,1.500000
2,3,0101000020E6100000000000000000F83FEE5003BCBB3B...,ad,aixirivall,Aixirivall,06,NaN,42.466667,1.500000
3,4,0101000020E6100000000000000000F83FEE5003BCBB3B...,ad,aixirvall,Aixirvall,06,NaN,42.466667,1.500000
4,5,0101000020E61000008815C9B2BBBBF73FEE5003BCBB3B...,ad,aixovall,Aixovall,06,NaN,42.466667,1.483333
5,6,0101000020E610000078EA364D4444F83F000000000040...,ad,andorra,Andorra,07,NaN,42.500000,1.516667
6,7,0101000020E610000078EA364D4444F83F000000000040...,ad,andorra la vella,Andorra la Vella,07,20430.0,42.500000,1.516667

### 1.4 Read from HTML

In [15]:
url = 'https://en.wikipedia.org/wiki/UEFA_Champions_League'

html_df = pd.read_html(url, header=0, index_col=0)[3] # Top scorers

In [16]:
html_df.head(5)

,Player,Country,Goals,Apps,Ratio,Years,Clubs
1,Cristiano Ronaldo,Portugal,120,152.0,0.79,2003–,Manchester United Real Madrid
2,Lionel Messi,Argentina,100,125.0,0.8,2005–,Barcelona
3,Raúl,Spain,71,142.0,0.5,1995–2011,Real Madrid Schalke 04
4,Ruud van Nistelrooy,Netherlands,56,73.0,0.77,1998–2009,PSV Eindhoven Manchester United Real Madrid
5,Karim Benzema,France,55,103.0,0.53,2006–,Lyon Real Madrid

## 2. Descriptive Statistics & Basic Data Exploration

### 2.1 Number of Rows and Columns

In [37]:
csv_df.shape

(3173958, 7)

### 2.2 Summary information about the dataFrame

In [36]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173958 entries, 0 to 3173957
Data columns (total 7 columns):
Country       object
City          object
AccentCity    object
Region        object
Population    float64
Latitude      float64
Longitude     float64
dtypes: float64(3), object(4)
memory usage: 169.5+ MB

### 2.3 Descriptive Statistics

In [13]:
csv_df.describe()

         Population      Latitude     Longitude
count  4.798000e+04  3.173958e+06  3.173958e+06
mean   4.771957e+04  2.718817e+01  3.708886e+01
std    3.028887e+05  2.195262e+01  6.322302e+01
min    7.000000e+00 -5.493333e+01 -1.799833e+02
25%    3.732000e+03  1.163333e+01  7.303175e+00
50%    1.077900e+04  3.249722e+01  3.528000e+01
75%    2.799050e+04  4.371667e+01  9.570354e+01
max    3.148050e+07  8.248333e+01  1.800000e+02

In [43]:
csv_df['Population'].min()

7.0

In [41]:
csv_df['Population'].max()

31480498.0

In [50]:
csv_df.loc[csv_df['Population'].argmax()]

Country                jp
City                tokyo
AccentCity          Tokyo
Region                 40
Population    3.14805e+07
Latitude           35.685
Longitude         139.751
Name: 1544449, dtype: object

In [13]:
csv_df.loc[csv_df['Population'].argmax()][['City', 'Population']]

City                tokyo
Population    3.14805e+07
Name: 1544449, dtype: object

## 3. Selecting/Filtering

In [25]:
csv_df[['City', 'Population']][:7]

               City  Population
0             aixas         NaN
1        aixirivali         NaN
2        aixirivall         NaN
3         aixirvall         NaN
4          aixovall         NaN
5           andorra         NaN
6  andorra la vella     20430.0

In [30]:
csv_df.isnull().any()

Country       False
City           True
AccentCity    False
Region         True
Population     True
Latitude      False
Longitude     False
dtype: bool

In [31]:
csv_df.isnull().sum()

Country             0
City                6
AccentCity          0
Region              8
Population    3125978
Latitude            0
Longitude           0
dtype: int64

In [34]:
csv_df[csv_df['Population'] > 0].shape

(47980, 7)

In [39]:
csv_df[csv_df['Population'] > 0]

,Country,City,AccentCity,Region,Population,Latitude,Longitude
6,ad,andorra la vella,Andorra la Vella,07,20430.0,42.500000,1.516667
20,ad,canillo,Canillo,02,3292.0,42.566667,1.600000
32,ad,encamp,Encamp,03,11224.0,42.533333,1.583333
49,ad,la massana,La Massana,04,7211.0,42.550000,1.516667
53,ad,les escaldes,Les Escaldes,08,15854.0,42.500000,1.533333
66,ad,ordino,Ordino,05,2553.0,42.550000,1.533333
80,ad,sant julia de loria,Sant Julià de Lòria,06,8020.0,42.466667,1.500000
93,ae,abu dhabi,Abu Dhabi,01,603687.0,24.466667,54.366667
242,ae,dubai,Dubai,03,1137376.0,25.258172,55.304717
490,ae,sharjah,Sharjah,06,543942.0,25.357310,55.403304
1384,af,acin,Acin,18,15098.0,34.082481,70.668152
3717,af,anar darreh,Anar Darreh,06,10023.0,32.758698,61.653969
3784,af,andarab,Andarab,03,27034.0,35.633484,69.260195
4547,af,asadabad,Asadabad,34,48400.0,34.873113,71.146970
4799,af,asmar,Asmar,34,15708.0,35.033328,71.358087
5410,af,aybak,Aybak,32,47877.0,36.264680,68.015512
5678,af,azrow,Azrow,17,12526.0,34.173553,69.645728
6644,af,baglan,Baglan,03,108481.0,36.130684,68.708286
6651,af,bagrami,Bagrami,13,30256.0,34.493761,69.274274
7935,af,baraki barak,Baraki Barak,17,22305.0,33.967500,68.948611
11059,af,cah ab,Cah Ab,26,23424.0,37.397734,69.814644
11524,af,carikar,Carikar,40,53693.0,35.016585,69.174011
14630,af,ciras,Ciras,33,12778.0,35.416737,65.982341
18389,af,dawlatabad,Dawlatabad,07,13603.0,36.432589,64.920713
18390,af,dawlatabad,Dawlatabad,30,17674.0,36.987820,66.820660
19611,af,deh rawud,Deh Rawud,39,25683.0,32.624131,65.459659
22872,af,eskasem,Eskasem,01,12120.0,36.706932,71.570658
23231,af,farah,Farah,06,43574.0,32.374508,62.116383
24373,af,gardan diwal,Gardan Diwal,27,6815.0,34.508977,68.260739
24457,af,gardez,Gardez,36,103732.0,33.597439,69.225922
...,...,...,...,...,...,...,...
3148996,zm,solwezi,Solwezi,01,4846.0,-12.183333,26.400000
3149540,zm,zambezi,Zambezi,01,7075.0,-13.550000,23.116667
3172666,zw,beitbridge,Beitbridge,07,11865.0,-22.216667,30.000000
3172685,zw,bindura,Bindura,03,22497.0,-17.296389,31.329722
3172723,zw,bulawayo,Bulawayo,06,897249.0,-20.150000,28.583333
3172747,zw,chegutu,Chegutu,04,45538.0,-18.133333,30.150000
3172780,zw,chinhoyi,Chinhoyi,04,77007.0,-17.366667,30.200000
3172784,zw,chipinge,Chipinge,07,11278.0,-20.200000,32.616667
3172788,zw,chiredzi,Chiredzi,07,13030.0,-21.050000,31.666667
3172800,zw,chitungwiza,Chitungwiza,04,456206.0,-17.993889,31.048056
3173003,zw,gwanda,Gwanda,06,20731.0,-20.933333,29.000000
3173009,zw,gweru,Gweru,06,201879.0,-19.450000,29.816667
3173019,zw,harare,Harare,04,2213701.0,-17.817778,31.044722
3173061,zw,hwange,Hwange,00,41632.0,-18.366667,26.483333
3173109,zw,kadoma,Kadoma,04,100276.0,-18.350000,29.916667
3173124,zw,kariba,Kariba,00,34797.0,-16.516667,28.800000
3173126,zw,karoi,Karoi,04,24981.0,-16.816667,29.683333
3173161,zw,kwekwe,Kwekwe,04,116332.0,-18.916667,29.816667
3173312,zw,marondera,Marondera,04,82294.0,-18.183333,31.550000
3173329,zw,masvingo,Masvingo,07,86772.0,-20.083333,30.833333
3173416,zw,mount darwin,Mount Darwin,03,11963.0,-16.783333,31.583333
3173478,zw,mutare,Mutare,04,253449.0,-18.966667,32.666667
3173480,zw,mutoko,Mutoko,04,11380.0,-17.400000,32.216667
3173485,zw,mvuma,Mvuma,04,6498.0,-19.283333,30.533333
3173558,zw,norton,Norton,04,19519.0,-17.883333,30.700000
3173646,zw,redcliffe,Redcliffe,06,38231.0,-19.033333,29.783333
3173676,zw,rusape,Rusape,04,23761.0,-18.533333,32.116667
3173737,zw,shurugwi,Shurugwi,07,17107.0,-19.666667,30.000000
3173892,zw,victoria falls,Victoria Falls,00,36702.0,-17.933333,25.833333
3173957,zw,zvishavane,Zvishavane,07,79876.0,-20.333333,30.033333