# Pandas Essentials Part 1
## DataFrames and Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series([6,5,4,3])
ser

0    6
1    5
2    4
3    3
dtype: int64

In [7]:
ser_index = pd.Series([6,5,4,3],index=['a','b','c','d'])
ser_index

a    6
b    5
c    4
d    3
dtype: int64

In [5]:
ser.values

array([6, 5, 4, 3], dtype=int64)

## 1. DataFrame Essentials

### 1.1 Creating DataFrames from Scratch

In [2]:
team = ['Real Madrid', 'Roma', 'Liverpool', 'Bayern Munchen']
champions_league_cups = [12,0, 5, 5]
established = [1902, 1927, 1892, 1900]

df = pd.DataFrame({'teams' : team, 'cups' : champions_league_cups, 'Year': established},  columns=['teams','cups', 'Year'],index=range(1,5))
df

            teams  cups  Year
1     Real Madrid    12  1902
2            Roma     0  1927
3       Liverpool     5  1892
4  Bayern Munchen     5  1900

#### 1.1.1 Add Column

In [ ]:
pd.read

#### 1.1.2 Delete a column

###  1.2 Reading Text Files (CSV)

In [9]:
csv_df = pd.read_csv('Data/worldcitiespop.csv', low_memory=False)

In [4]:
csv_df.head(7)

,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,ad,aixas,Aixàs,06,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,06,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,06,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,06,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,06,NaN,42.466667,1.483333
5,ad,andorra,Andorra,07,NaN,42.500000,1.516667
6,ad,andorra la vella,Andorra la Vella,07,20430.0,42.500000,1.516667

In [45]:
csv_df.columns

Index(['Country', 'City', 'AccentCity', 'Region', 'Population', 'Latitude',
       'Longitude'],
      dtype='object')

### 1.3 Reading From Database

In [9]:
import psycopg2 
connection = psycopg2.connect(database="MTutorial",user="postgres", password="XXXXXX")
cursor = connection.cursor()
cursor.execute("SELECT * FROM cities")

In [10]:
database_df = pd.DataFrame(cursor.fetchall(), columns=['id', 'geom', 'Country', 'City', 'AccentCity', 'Region', 'Population', 'Latitude', 'Longtitude'])
                           
database_df.head(7)

,id,geom,Country,City,AccentCity,Region,Population,Latitude,Longtitude
0,1,0101000020E6100000AB1D6A807777F73FAC4896DDDD3D...,ad,aixas,Aixàs,06,NaN,42.483333,1.466667
1,2,0101000020E6100000000000000000F83FEE5003BCBB3B...,ad,aixirivali,Aixirivali,06,NaN,42.466667,1.500000
2,3,0101000020E6100000000000000000F83FEE5003BCBB3B...,ad,aixirivall,Aixirivall,06,NaN,42.466667,1.500000
3,4,0101000020E6100000000000000000F83FEE5003BCBB3B...,ad,aixirvall,Aixirvall,06,NaN,42.466667,1.500000
4,5,0101000020E61000008815C9B2BBBBF73FEE5003BCBB3B...,ad,aixovall,Aixovall,06,NaN,42.466667,1.483333
5,6,0101000020E610000078EA364D4444F83F000000000040...,ad,andorra,Andorra,07,NaN,42.500000,1.516667
6,7,0101000020E610000078EA364D4444F83F000000000040...,ad,andorra la vella,Andorra la Vella,07,20430.0,42.500000,1.516667

### 1.4 Read from HTML

In [15]:
url = 'https://en.wikipedia.org/wiki/UEFA_Champions_League'

html_df = pd.read_html(url, header=0, index_col=0)[3] # Top scorers

In [16]:
html_df.head(5)

,Player,Country,Goals,Apps,Ratio,Years,Clubs
1,Cristiano Ronaldo,Portugal,120,152.0,0.79,2003–,Manchester United Real Madrid
2,Lionel Messi,Argentina,100,125.0,0.8,2005–,Barcelona
3,Raúl,Spain,71,142.0,0.5,1995–2011,Real Madrid Schalke 04
4,Ruud van Nistelrooy,Netherlands,56,73.0,0.77,1998–2009,PSV Eindhoven Manchester United Real Madrid
5,Karim Benzema,France,55,103.0,0.53,2006–,Lyon Real Madrid

## 2. Descriptive Statistics & Basic Data Exploration

### 2.1 Number of Rows and Columns

In [37]:
csv_df.shape

(3173958, 7)

### 2.2 Summary information about the dataFrame

In [36]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173958 entries, 0 to 3173957
Data columns (total 7 columns):
Country       object
City          object
AccentCity    object
Region        object
Population    float64
Latitude      float64
Longitude     float64
dtypes: float64(3), object(4)
memory usage: 169.5+ MB

### 2.3 Descriptive Statistics

In [13]:
csv_df.describe()

         Population      Latitude     Longitude
count  4.798000e+04  3.173958e+06  3.173958e+06
mean   4.771957e+04  2.718817e+01  3.708886e+01
std    3.028887e+05  2.195262e+01  6.322302e+01
min    7.000000e+00 -5.493333e+01 -1.799833e+02
25%    3.732000e+03  1.163333e+01  7.303175e+00
50%    1.077900e+04  3.249722e+01  3.528000e+01
75%    2.799050e+04  4.371667e+01  9.570354e+01
max    3.148050e+07  8.248333e+01  1.800000e+02

In [43]:
csv_df['Population'].min()

7.0

In [41]:
csv_df['Population'].max()

31480498.0

In [50]:
csv_df.loc[csv_df['Population'].argmax()]

Country                jp
City                tokyo
AccentCity          Tokyo
Region                 40
Population    3.14805e+07
Latitude           35.685
Longitude         139.751
Name: 1544449, dtype: object

In [13]:
csv_df.loc[csv_df['Population'].argmax()][['City', 'Population']]

City                tokyo
Population    3.14805e+07
Name: 1544449, dtype: object

## End of Part 1